@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.app {
  position: relative;
  max-width: 76.5rem;
  margin: 0 auto;
  .overlap {
    @include nav-sliding-time;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    &.active {
      background-color: $color-gray-1;
      opacity: 0.8;
    }
    &.deactive {
      display: none;
    }
  }
}
