@import 'utils/variables.scss';
.total {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  border-top: 1px dashed $color-black;
  width: 100%;
  font-size: $font-size-1;
  p {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0rem;
    }
  }
}
