@import 'utils/variables.scss';
@import 'utils/mixins.scss';

html {
  font-size: 62.5%;
  background-color: $color-background;
}
header {
  @include flex-column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
main {
  @include space-clear;
  @include nav-sliding-time;
  @include flex-column-center;
  margin-top: 6.2rem;
  padding: 0 1.6rem;
  max-width: 768px;
  min-height: calc(100vh - 6.2rem);
  &.active {
    -webkit-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
  }
  &.deactive {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
h1,
h2 {
  font-weight: $font-weight-bold;
}
h3,
h3 {
  font-weight: $font-weight-medium;
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
